/**** 
   --- Global website styles ---
****/

/* Set primary styles for body content */
html {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
    box-sizing: padding-box;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'ZCOOL QingKe HuangYou', Arial, sans-serif;
    background-color: #00bff3;
    background-image: url('../img/background_light.png');
    background-size: stretch;
    background-position: top;
    background-repeat: no-repeat;
    color: #000000 ;
    margin-bottom: 150px;
}
/* Remove padding from unordered list tags */
ul {
    padding: 0;
}
/* Remove bullet points and padding from list item tags */
li {
    list-style-type: none;
    padding: 0;
}
/* Remove underline and set default font color for anchor tags */
a {
    text-decoration: none;
    color: inherit;
}
/* Headding styles */
#pageHeading h1,
#pageHeading h2 {
    margin-bottom: 0;
    font-size: 3rem;
}
/* Display main page wrappers as flex */
#mainWrapper {
    margin: auto;
    width: 85%;
}
/* Cross site navigation styles */
#mainNav {
    display: flex;
    background-color: #505050;
    z-index: 2;
    height: 100px;
    box-shadow: 2px 0 10px #505050;
    position: relative;
}

.logoLi img {
    width: 25%;
    opacity: .5;
    border-radius: 25%;
    transition: .5s;
}
/* Add padding to separate nav items */
#mainNav ul {
    display: flex;
    margin: auto;
    align-items: center;
}

#toggle {
    text-align: center;
}

#toggle.closed img {
    width: 50px;
}

#toggle.open img {
    width: 25px;
}

#toggle img:hover {
    cursor: pointer;
}

#mainNav li {
    padding: 0 15px 0 15px;
}

#toggleItems {
    display: none;
}

.homeLi,
.skillsLi,
.aboutLi,
.portLi {
    text-align: center;
    width: 50px;
    color: #ffffff;
}

.logoLi img {
    filter: grayscale(100%);
    cursor: pointer;
    transition: .5s ease;
}

.homeLi img {
    width: 30px;
    animation: fadeIn .5s;
    transition: .5s ease;
}

.aboutLi img {
    width: 30px;
    animation: fadeIn .5s;
    transition: .5s ease;
}

.skillsLi img {
    width: 30px;
    animation: fadeIn .5s;
    transition: .5s ease;
}

.portLi img {
    width: 30px;
    animation: fadeIn .5s;
    transition: .5s ease;
}

/* Add hover animations to navigation items */

.logoLi img:hover {
    opacity: 1;
    transition: .5s ease;
    cursor: pointer;
}

.homeLi img:hover {
    opacity: .5;
    transition: .5s ease;
    cursor: pointer;
}

.aboutLi img:hover {
    opacity: .5;
    transition: .5s ease;
    cursor: pointer;
}

.skillsLi img:hover {
    opacity: .5;
    transition: .5s ease;
    cursor: pointer;
}

.portLi img:hover {
    opacity: .5;
    transition: .5s ease;
    cursor: pointer;
}

/* Add margin to heading to add space between heading and navigation */
#pageHeading {
    margin-left: 15%;
    margin-right: 2%;
}

/* Add animation on page load */
h1 {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 3s;
}

h2 {
    font-size: 2.5rem;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 3s;
}

/* Add margin to content to add space between content and navigation */
#pageContent {
    margin-right: 2%;
    -webkit-animation: slideInContent 2s;
    animation: slideInContent 2s;
    font-size: 1.25rem;
    z-index: -1;
}

/* Main Footer Styles */
#mainFooter {
    background-color: #505050;
    color: rgb(255,255,255);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

#footerSect1 ul {
    text-align: center;
    font-size: 1.25rem;
}

#footerSect1 li {
    transition: .5s ease;
    padding-bottom: 5px;
}

#footerSect1 li:hover {
    cursor: pointer;
    opacity: .5;
    transition: .5s ease;
}

#footerSect2 {
    font-size: 1.25rem;
}

#footerSect2,
#footerSect3 {
    text-align: center;
    margin: 15px 0 15px 0;
}

#footerSect3 img {
    width: 30px;
    margin: 0 15px 0 15px;
}

/**** 
   --- Home Page styles ---
****/
#pageContent h3 {
    margin-top: 0;
}

#profileImage {
    text-align: center;
    margin: auto auto 400px auto;
    padding-bottom: 15px;
    width: 75%;
    max-width: 300px;
    min-width: 200px;
    border-radius: 15%;
    box-shadow: 5px 5px 15px #505050;
    background-color: #505050;
    animation: dropInContent 2s; /* Animate on page load */
}

#profileImage img {
    filter: grayscale(100%);
}

#profileImage ul {
    display: flex;
    justify-content: center;
}

#profileImage li {
    padding: 0 5px 0 5px;
}

#profileImage span {
    font-size: 1.25rem;
}

#profile {
    width: 75%;
    padding: 15px;
    border-radius: 50%;
}

#husbandImg {
    width: 20px;
}

#friendImg {
    width: 20px;
}

#devImg {
    width: 20px;
}


#profileImage ul {
    color: rgb(255,255,255);
    margin-top: 0;
}
/* This button/feature only displays with JavaScript */
#destruct {
    position: absolute;
    bottom: -25px;
}

#destruct button {
    border: none;
    padding: 5px;
    width: 125px;
    color: rgb(255,255,255);
    background-color: #171717;
    transition: 0.5s ease;
}

#destruct button:hover {
    opacity: .75;
    transition: .5s ease;
    cursor: pointer;
}

/**** 
   --- About Page styles ---
****/
#aboutP {
    font-size: 1.25rem;
}

#aboutP span {
    font-weight: bold;
    font-size: 1.5rem;
}


#dates {
    margin-bottom: 300px;
    font-size: 1.25rem;
}

#dates li {
    background-color: #505050;
    color: rgb(255,255,255);
    margin-bottom: 15px;
    min-height: 5rem;
    max-width: 500px;
}

#dates li span {
    animation: shrinkLetters 1s;
}

#dates li span:hover {
    animation: stretchLetters 1s;
}

#date1 {
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slideFromRight 1s;
}

#date2 {
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slideFromLeft 1s;
}

#date3 {
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slideFromRight 1s;
}

#date4 {
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slideFromLeft 1s;
}

#date5 {
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slideFromRight 1s;
}

#date6 {
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: slideFromLeft 1s;
}

/**** 
   --- Skills Page styles ---
****/
#skillIcons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#skillIcons img {
    width: 85px;
    height: 85px;
    margin: 0 35px 0 35px;
}

#html {
    animation: slideFromLeft 1.5s;
}

#css {
    animation: dropInContent 1.5s;
}

#js {
    animation: flyUpContent 1.5s;
}

#ps {
    animation: slideFromRight 1.5s;
}

/**** 
   --- Portfolio Page styles ---
****/
.virtualAssistant,
.doWhat,
.slayerTap {
    text-align: center;
}

#va,
#dw {
    width: 200px;
}

#st {
    widtH: 500px;
}

.portProj {
    text-align: left;
}

.portProj p {
    font-size: 1.25rem;
}

.portProj span {
    font-weight: bold;
}

.portProj:last-of-type {
    margin-bottom: 400px;
}

/**** 
   --- Media queries for larger windows ---
****/
@media (min-width: 750px) {
    #mainFooter {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #footerSect1,
    #footerSect3 {
        display: flex;
        margin: 0 35px 0 35px;
    }

    #footerSect2 {
        margin: 0 35px 0 35px;
    }

    #footerSect3 img {
        width: 30px;
        margin: 0 15px 0 15px;
    }

    #footerSect3 img:hover {
        cursor: pointer;
    }

    /* Portfolio styles */
    .virtualAssistant,
    .doWhat,
    .slayerTap {
        display: flex;
        align-items: flex-start;
    }

    .projContent {
        margin-left: 50px;
        max-width: 500px;
    }
}

@media (min-width: 900px) {
    .logoLi,
    .homeLi,
    .aboutLi,
    .skillsLi,
    .portLi {
        margin: auto 45px auto 45px;
    }

    .logoLi img {
        width: 75px;
    }

    .homeLi img,
    .aboutLi img,
    .skillsLi img,
    .portLi img {
        width: 35px;
    }
}

/* keyframes for various animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeIn2 {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeIn2 {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes slideInContent {
    from {opacity: 0;
          transform: translateX(-20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@-webkit-keyframes slideInContent {
    from {opacity: 0;
          transform: translateX(-20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@keyframes slideFromRight {
    from {opacity: 0;
          transform: translateX(120px);}
    to {opacity: 1;
        transform: translateX(0);}
}

@-webkit-keyframes slideFromRight {
    from {opacity: 0;
          transform: translateX(120px);}
    to {opacity: 1;
        transform: translateX(0);}
}

@keyframes slideFromLeft {
    from {opacity: 0;
          transform: translateX(-120px);}
    to {opacity: 1;
        transform: translateX(0);}
}

@-webkit-keyframes slideFromLeft {
    from {opacity: 0;
          transform: translateX(-120px);}
    to {opacity: 1;
        transform: translateX(0);}
}

@keyframes dropInContent {
    from {opacity: 0;
          transform: translateY(-20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@-webkit-keyframes dropInContent {
    from {opacity: 0;
          transform: translateY(-20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@keyframes flyUpContent {
    from {opacity: 0;
          transform: translateY(20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@-webkit-keyframes flyUpContent {
    from {opacity: 0;
          transform: translateY(20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@keyframes spinContent {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinContent {
    from {opacity: 0;
          transform: rotate(0deg);}
    to {opacity: 1;
        transform: rotate(360deg);}
}

@keyframes stretchLetters {
    from { letter-spacing: inherit; }
    to   { letter-spacing: 4px; }
}

@-webkit-keyframes stretchLetters {
    from { letter-spacing: inherit; }
    to   { letter-spacing: 4px; }
}

@keyframes shrinkLetters {
    from { letter-spacing: 4px; }
    to   { letter-spacing: inherit; }
}

@-webkit-keyframes shrinkLetters {
    from { letter-spacing: 4px; }
    to   { letter-spacing: inherit; }
}