/**** 
   --- Global website styles ---
****/

/* Set primary styles for body content */
html {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;
    box-sizing: padding-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(235,235,235);
    color: #171717;
    margin-bottom: 150px;
}
/* Remove padding from unordered list tags */
ul {
    padding: 0;
}
/* Remove bullet points and padding from list item tags */
li {
    list-style-type: none;
    padding: 0;
}
/* Remove underline and set default font color for anchor tags */
a {
    text-decoration: none;
    color: inherit;
}

/* Display main page wrappers as flex */
#mainWrapper {
    margin: auto;
    width: 85%;
}
/* Cross site navigation styles */
#mainNav {
    display: flex;
    background-color: lightgray;
    z-index: 2;
    height: 100px;
    box-shadow: 2px 0 10px;
    position: relative;
}

#mainNav img {
    width: 25%;
    border-radius: 25%;
    transition: .5s;
}
/* Add padding to separate nav items */
#mainNav ul {
    display: none;
    align-items: center;
}

#mainNav span {
    align-self: center;
    margin-right: 20px;
}

#mainNav li {
    padding: 0 10px 0 10px;
}

.aboutLi,
.skillsLi,
.portLi {
    animation: slideFromRight 1s;
}

.navLi a {
    border: 1px solid #171717;
    padding: 5px 8px 5px 8px;
    border-radius: 50%;
    display: inline-block;
}

/* Add hover animations to navigation items */
#mainNav img:hover {
    opacity: .5;
    transition: .5s;
}

.aboutLi a:hover {
    animation: spinContent .5s;
}

.skillsLi a:hover {
    animation: spinContent .5s;
}

.portLi a:hover {
    animation: spinContent .5s;
}

/* Add margin to heading to add space between heading and navigation */
#pageHeading {
    margin-left: 15%;
    margin-right: 2%;
}

/* Add animation on page load */
h1 {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 3s;
}

h2 {
    font-size: 2.5rem;
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 3s;
}

/* Add margin to content to add space between content and navigation */
#pageContent {
    margin-right: 2%;
    -webkit-animation: slideInContent 2s;
    animation: slideInContent 2s;
}
/**** 
   --- Home Page styles ---
****/
#pageContent {
    z-index: -1;
}

#pageContent h3 {
    margin-top: 0;
}

#profileImage {
    text-align: center;
    margin: auto auto 50px auto;
    padding-bottom: 15px;
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    border-radius: 15%;
    box-shadow: 5px 5px 15px #171717;
    background-color: #171717;
    animation: dropInContent 2s; /* Animate on page load */
}

#profileImage img {
    width: 75%;
    padding: 15px;
    border-radius: 50%;
}

#profileImage ul {
    color: rgb(255,255,255);
    margin-top: 0;
}
/* This button/feature only displays with JavaScript */
#colorChanger {
    position: absolute;
    bottom: -25px;
}

#colorChanger button {
    border: none;
    padding: 5px;
    width: 125px;
    color: rgb(255,255,255);
    background-color: #171717;
    transition: 0.5s ease;
}

#colorChanger button:hover {
    opacity: .75;
    transition: .5s ease;
    cursor: pointer;
}

/**** 
   --- About Page styles ---
****/
#aboutP {
    font-size: 1.25rem;
}

#aboutP span {
    font-weight: bold;
}


#dates {
    margin-bottom: 65px;
}

#dates li {
    margin-bottom: 15px;
    min-height: 5rem;
    max-width: 500px;
}

#dates li span {
    animation: shrinkLetters 1s;
}

#dates li span:hover {
    animation: stretchLetters 1s;
}

#date1 {
    background-color: #171717;
    color: rgb(255,255,255);
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: fadeIn 1s;
}

#date2 {
    background-color: #171717;
    color: rgb(255,255,255);
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: fadeIn 2s;
}

#date3 {
    background-color: #171717;
    color: rgb(255,255,255);
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: fadeIn 3s;
}

#date4 {
    background-color: #171717;
    color: rgb(255,255,255);
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: fadeIn 4s;
}

#date5 {
    background-color: #171717;
    color: rgb(255,255,255);
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: fadeIn 5s;
}

#date6 {
    background-color: #171717;
    color: rgb(255,255,255);
    padding: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    animation: fadeIn 6s;
}

/* Main Footer Styles */
#mainFooter {
    background-color: #171717;
    color: rgb(255,255,255);
    text-align: center;
    font-size: .8rem;
    width: 100%;
    padding: 25px 0 25px 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* keyframes for various animations */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-keyframes fadeOut {
    from {opacity: 1;}
    to {opacity: 0;}
}

@keyframes slideInContent {
    from {opacity: 0;
          transform: translateX(-20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@-webkit-keyframes slideInContent {
    from {opacity: 0;
          transform: translateX(-20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@keyframes slideFromRight {
    from {opacity: 0;
          transform: translateX(20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@-webkit-keyframes slideFromRight {
    from {opacity: 0;
          transform: translateX(20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@keyframes dropInContent {
    from {opacity: 0;
          transform: translateY(-20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@-webkit-keyframes dropInContent {
    from {opacity: 0;
          transform: translateY(-20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@keyframes spinContent {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinContent {
    from {opacity: 0;
          transform: rotate(0deg);}
    to {opacity: 1;
        transform: rotate(360deg);}
}

@keyframes stretchLetters {
    from { letter-spacing: inherit; }
    to   { letter-spacing: 4px; }
}

@-webkit-keyframes stretchLetters {
    from { letter-spacing: inherit; }
    to   { letter-spacing: 4px; }
}

@keyframes shrinkLetters {
    from { letter-spacing: 4px; }
    to   { letter-spacing: inherit; }
}

@-webkit-keyframes shrinkLetters {
    from { letter-spacing: 4px; }
    to   { letter-spacing: inherit; }
}