/**** 
   --- Global website styles ---
****/

/* Set primary styles for body content */
html, body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    box-sizing: padding-box;
    background-color: rgb(235,235,235);
    color: #171717;
    overflow-x: hidden;
}
/* Remove padding from unordered list tags */
ul {
    padding: 0;
}
/* Remove bullet points and padding from list item tags */
li {
    list-style-type: none;
    padding: 0;
}
/* Remove underline and set default font color for anchor tags */
a {
    text-decoration: none;
    color: inherit;
}

/* Display main page wrappers as flex */
#mainWrapper {
    margin-left: 65px;
    width: 75%;
}
/* Cross site navigation styles */
#mainNav {
    text-align: center;
    background-color: lightgray;
    height: 100vh;
    min-height: 100%;
    width: 50px;
    position: absolute;
    left: 0;
    z-index: 2;
    box-shadow: 2px 0 10px;
    overflow-y: hidden
}

#mainNav img {
    width: 75%;
    border-radius: 25%;
    transition: .5s;
}
/* Add padding to separate nav items */
#mainNav li {
    padding-bottom: 50px;
}

.navLi a {
    border: 1px solid #171717;
    padding: 5px 8px 5px 8px;
    border-radius: 50%;
    display: inline-block;
}

/* Add hover animations to navigation items */
#mainNav img:hover {
    opacity: .5;
    transition: .5s;
}

.aboutLi a:hover {
    animation: spinContent .5s;
}

.skillsLi a:hover {
    animation: spinContent .5s;
}

.portLi a:hover {
    animation: spinContent .5s;
}

/* Add margin to heading to add space between heading and navigation */
#pageHeading {
    margin-left: 15%;
    margin-right: 2%;
}

/* Add animation on page load */
h1 {
    -webkit-animation: fadeInHeading 2s;
    animation: fadeInHeading 3s;
}

h2 {
    -webkit-animation: fadeInHeading 2s;
    animation: fadeInHeading 3s;
}

/* Add margin to content to add space between content and navigation */
#pageContent {
    margin-right: 2%;
    -webkit-animation: slideInContent 2s;
    animation: slideInContent 2s;
}
/**** 
   --- Home Page styles ---
****/
#pageContent {
    z-index: -1;
}

#pageContent h3 {
    margin-top: 0;
}

#profileImage {
    text-align: center;
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    margin-bottom: 150px;
    margin-left: 65px;
    border-radius: 15%;
    box-shadow: 5px 5px 15px #171717;
    background-color: #171717;
    animation: dropInContent 2s; /* Animate on page load */
}

#profileImage img {
    width: 75%;
    padding: 15px;
    border-radius: 50%;
}

/* This button/feature only displays with JavaScript */
#colorChanger {
    position: fixed;
    right: 25px;
    top: 10px;
}

#colorChanger button {
    border: none;
    padding: 5px;
    width: 125px;
    color: rgb(255,255,255);
    background-color: #171717;
    transition: transform 0.5s ease;
}

#colorChanger button:hover {
    transform: scale(1.25);
    transition: transform: 1s ease;
    cursor: pointer;
}

/* Main Footer Styles */
#mainFooter {
    background-color: #171717;
    color: rgb(255,255,255);
    text-align: center;
    font-size: .8rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}

/* keyframes for various animations */
@keyframes fadeInHeading {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadeInHeading {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes slideInContent {
    from {opacity: 0;
          transform: translateX(-20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@-webkit-keyframes slideInContent {
    from {opacity: 0;
          transform: translateX(-20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@keyframes dropInContent {
    from {opacity: 0;
          transform: translateY(-20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@-webkit-keyframes dropInContent {
    from {opacity: 0;
          transform: translateY(-20px);}
    to {opacity: 1;
        transform: translateY(0);}
}

@keyframes spinContent {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@-webkit-keyframes spinContent {
    from {opacity: 0;
          transform: rotate(0deg);}
    to {opacity: 1;
        transform: rotate(360deg);}
}