/*
    Stylesheet holding styles for my 'DoWhat?' application - Ben Youngblood
*/

/*CSS styling for main index page*/

/*Setting up global html styles*/
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}

/*Specifying background styles*/

.main-wrapper {
    background: linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/main-background.png');
    background-size: 160%;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    margin: auto;
    min-height: 720px;
    max-width: 450px;
    min-width: 400px;
    position: relative;
    box-shadow: 5px 5px 15px, -5px 0 15px #000;
    border-radius: 20px;
}

/*Main h1 heading styles*/
.main-heading {
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.main-heading h1 {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    border-top: 3px solid #ffa500;
    border-right: 3px solid #ffa500;
    border-bottom: 3px solid #fff;
    border-left: 3px solid #fff;
    box-sizing: border-box;
    width: 95%;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.main-heading span {
    color: #ffa500;
}

/*Position main content/output*/
.content-pos {
    margin-top: -10%;
}

/*Styling for 'Start' buttons*/
.start a {
    text-decoration: none;
    color: #fff;
    text-align: center;
}

#start-free,
#start-out,
#start-food,
#start-ent,
#start-any {
    width: 60%;
    display: block;
    padding: 3%;
    font-size: 1.5rem;
    border: 2px solid;
    background-color: #00000050;
    border-radius: 10px;
    margin: 40px auto;
}

#start-free {
    border-color: #fff;
}

#start-out {
    border-color: #ffa500;
}

#start-food {
    border-color: #fff;
}

#start-ent {
    border-color: #ffa500;
}

#start-any {
    border-color: #fff;
}

/*Styling for loading screen*/
#loading {
    display: none;
    text-align: center;
    margin-top: 50%;
}

#loading p {
    text-align: center;
    color: #fff;
}

/*Output styles*/
#do-what {
    display: flex;
    box-sizing: border-box;
    background-color: #00000075;
    min-height: 150px;
    border-radius: 35px;
    width: 90%;
    margin: auto;
    margin-top: 15%;
}

#do-what p {
    color: #fff;
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
    padding: 3%;
}

#refresh-app {
    display: none;
}

#refresh {
    text-align: center;
    width: 20%;
    font-size: 4.5rem;
    color: #ffa500;
    margin: 5% auto auto auto;
    border: 4px solid #fff;
    background-color: #00000050;
    border-radius: 25px;
    margin-bottom: 2.5%;
}

#refresh:hover {
    cursor: pointer;
}

#click-reload {
    margin: auto;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

#click-reload span {
    color: #ffa500;
}

/*Main footer styles*/
.main-footer {
    width: 100%;
    color: #fff;
    text-align: center;
    bottom: 3%;
    padding-top: 5%;
    position: absolute;
    bottom: 0;
}

.main-footer span {
    color: #ffa500;
}

/*Media query for larger mobile devices*/
@media (max-width: 400px) {
    .main-wrapper {
        width: 100%;
    }
}
